@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-suse: var(--font-suse);
  --font-sirin: var(--font-sirinStencil);
  --font-inter: var(--font-inter);
  --color-primary: #1A1D29;
  --color-secondary: #faf7ff;
}